* {

    padding: 0 auto;
    margin: 0 auto;
}

.contenedor{
    margin-top: 1em;
    width: 700px;
    height: 180px;
    background-color:darkgray;
    border: 2px black solid;
    overflow: auto;
}

.izquierda{
    float: left;
    margin: 1%;
}

.derecha{
    float: right;
    margin: 1%;
}


input{
    text-align: right;
}

